body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    margin-bottom: 150px;
}
h1{
    font-size: 50px;
}
/*Welcome & Hire Me Section*/
.n-orange{
    color: orange;
}
.first-portion{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;

}
.half-width p{
    text-align: justify;

}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, lime);
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
    color: black;
}

/*Dream Big & Download Resume Section*/



.second-portion{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width-2nd{
    width: 50%;
    padding-left: 5%;
}
.half-width-2nd img{
    width: 80%;

}
.half-width-2nd p{
    text-align: justify;

}
.download-resume-button{
    text-decoration: none;
    background-image: linear-gradient(yellow, lime);
    border-radius: 5px;
    padding: 10px 40px;
    font-weight: 700;
    color: black;
}

/*Experiences Section*/
.third-portion-header{
    text-align: center;
}

.third-portion-2d-header{
    font-size: 40px;
}

.third-portion{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.half-width-3rd{
    width: 40%;
    padding-left: 5%;
    box-shadow: 10px 10px 60px gray;
    margin-left: 5%;
    margin-right: 3%;
    padding-right: 3%;
    padding-bottom: 100px;
}

.half-width-3rd p{
    text-align: justify;

}